.header-title {
    background-color: rgb(116, 138, 179) !important;
}

.title-div {
    width: 65%;
}

.task-area-body {
    background-color: #c3b2a1 !important;
}

.btn-h {
    background-color: #384a6f;
    color: white;
}

.btn-h:hover {
    background-color: #384a6f7c;
    color: white;
}