.container {
    margin-top: 10%;
}

.form-div {
    background-color: rgb(241, 236, 230);
}

.btn {
    background-color: #384a6f;
    color: white;
}

.btn:hover {
    background-color: #384a6f7c;
    color: white;
}